.hel_section {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.splash_billede {
  background-image: url("/billeder/splash_billede.jpg");
  position: relative;
  text-align: center;
  color: white;
}

.splash_tekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
