.hel_section {
  display: grid;
  /*   grid-template-rows: repeat(5, 1fr); */
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

.splash_billede {
  /*  background-image: url("/billeder/splash_billede.jpg"); */
  position: relative;
  text-align: center;
  color: #fff6cc;
}

.splash_tekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
