.hel_section {
  display: grid;
  /*   grid-template-rows: repeat(5, 1fr); */
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

.splash_billede {
  /*  background-image: url("/billeder/splash_billede.jpg"); */
  position: relative;
  text-align: center;
  color: #fff6cc;
}

/* ****Flere SplashBilleder***** */
.forside1 {
  position: relative;
  top: 0;
  left: 0;
}

.forside2 {
  position: relative;
  top: 0;
  left: 0;
}

.forside3 {
  position: relative;
  top: 0;
  left: 0;
}

.hide {
  display: none;
}

.text_farve1 p {
  color: #cbc2ae;
}

.text_farve3 p {
  color: #fff6cc;
}

.dot.farve1 {
  background-color: #cbc2ae;
}

.dot.farve2 {
  background-color: #827a79de;
}

@media (min-width: 800px) {
  .dot1,
  .dot2,
  .dot3 {
    display: inline-block;
    height: 18px;
    width: 18px;
    background-color: #cbc2ae;
    border-radius: 50%;
  }

  .btm {
    position: absolute;
    top: 95%;
    left: 1%;
  }
}

/* ********* */

.splash_tekst1 {
  position: absolute;
  font-size: 6rem;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.splash_tekst2 {
  position: absolute;
  font-size: 3rem;
  top: 90%;
  left: 22%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .splash_tekst1 {
    font-size: 5rem;
    top: 80%;
    left: 27%;
  }

  .splash_tekst2 {
    position: absolute;
    font-size: 1.5rem;
    top: 90%;
    left: 29%;
  }
}

@media (max-width: 600px) {
  .splash_tekst1 {
    font-size: 1.5rem;
    top: 80%;
    left: 25%;
  }

  .splash_tekst2 {
    position: absolute;
    font-size: 0.7rem;
    top: 90%;
    left: 27%;
  }
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  padding-right: 100px;
  padding-left: 100px;
}

.caption {
  display: grid;
  margin-top: 110px;
  margin-bottom: 20px;
  justify-content: center;
  font-size: 2.2rem;
}
.caption2 {
  display: grid;
  margin-top: 10px;
  margin-bottom: 130px;
  justify-content: center;
  font-size: 1.2rem;
}

.section_wrapper1 {
  display: grid;
  margin-top: 100px;
  margin-bottom: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.section1 {
  grid-column: 1/2;
}

.section2 {
  grid-column: 2/3;
  margin-left: 17px;
  margin-right: 17px;
}

.section3 {
  grid-column: 3/4;
}

a:visited {
  color: inherit;
}

#section_wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section1_1 {
  grid-column: 1/2;
  /* margin-left: 100px;
  margin-top: 10px;
  justify-content: left; 
  font-size: 2rem;*/
}

.section2_2 {
  grid-column: 2/3;
  /* margin-left: 17px;
  margin-right: 17px;
  margin-top: 10px;
  justify-content: center; 
  font-size: 2rem;*/
}

.section3_3 {
  grid-column: 3/4;
  /* margin-right: 140px; 
  margin-top: 10px;
  justify-content: right; 
  font-size: 2rem;*/
}

/*.kropsterapi {
  display: grid;
  margin-left: 100px;
  margin-top: 10px;
  justify-content: left;
  font-size: 2rem;
}

.yoga {
  display: grid;
  margin-top: 10px;
  justify-content: center;
  font-size: 2rem;
}

.louise {
  display: grid;
  margin-right: 140px;
  margin-top: 10px;
  justify-content: right;
  font-size: 2rem;
}*/
