/***************************BODY************************/
body {
  background-color: #59372a;
}

.hel_section {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
}

/***************************MENU************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

a:visited {
  color: inherit;
}

#screen {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
}

header img {
  background-image: url("/billeder/logo.png");
  width: 110px;
  object-fit: cover;
}

header {
  background-color: #827a79de;
  padding: 2%;
  position: sticky;
  top: 0px;
}

header nav ul {
  display: flex;
  margin: 0 auto;
  list-style-type: none;
  overflow-x: auto;
  justify-content: space-evenly;
  flex-flow: wrap;
}

li {
  display: inline-flex;
  color: #fff6cc;
}

a {
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
  color: #fff6cc;
}

a:hover {
  color: #cbc2ae;
}

/***********************OVERSKRIFTER*********************/
h1 {
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify;
}

h1,
h3 {
  color: #fff6cc;
  font-family: "Montserrat Alternates", sans-serif;
}

p {
  color: #cbc2ae;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

/***********************FOOTER*********************/

footer {
  min-height: 200px;
  background-color: #ab462a56;
  width: 100%;
  /* position: fixed; */
  left: 0;
  bottom: 0;
}

/* footer #section_wrapper {
  margin-left: 80px;
  margin-right: 80px;
} */
@media (min-width: 600px) {
  footer p {
    font-size: small;
  }

  footer #section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 80px;
    margin-right: 80px;
  }

  footer .first_footer {
    grid-column: 1/2;
  }

  footer .second_footer {
    grid-column: 2/3;
  }

  footer .third_footer {
    grid-column: 3/4;
  }
}
footer h5 {
  color: #fff6cc;
  font-family: "Montserrat Alternates", sans-serif;
}
