@media (max-width: 1200px) {
}
#section1,
#section2 {
  margin-left: 50px;
}

#section1 h1 {
  font-size: 3.5rem;
  color: #fff6cc;
}

#section1 h3 {
  font-size: 1rem;
  color: #ffffff;
}

#section2 h3 {
  font-size: 1rem;
  color: #ffffff;
}

p {
  font-size: 1rem;
  color: #ffffff;
}

.ig_tryk a {
  color: #ffffff;
}
